<div >
        <div>
            <img ng-src="{{User.picture.thumbnail}}" alt="{{User.name | formatUserName | titlecase}}"  />
        </div>
        <div >
            {{User.name | formatUserName | titlecase}}<br>
            <!--<span data-toggle="tooltip" title="{{item.user.location.street}}"></span>-->
            <input type="text" ng-model="User.location.street" />
            <!--<span data-toggle="tooltip" title="{{item.user.phone}}"></span>-->
            <input type="text" ng-model="User.phone" />
            <!--<span data-toggle="tooltip" title="{{item.user.email}}"></span>-->
            <input type="text" ng-model="User.email" />
        </div>
        <div class="clearfix"></div>
</div>