<div class="container" ng-controller="ContactsController as contactsCtrl">

    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <ul class="list-group" id="contact-list" ng-repeat="item in contactsCtrl.Data">
                <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                        <!--<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />-->
                        <img ng-src="{{item.user.picture.thumbnail}}" alt="Scott Stevens" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <span class="name">{{item.user.name | formatUserName | titlecase}}</span><br />
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="{{item.user.location.street}}"></span>
                        <span class="visible-xs"> <span class="text-muted">{{item.user.location.street}}</span><br /></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="{{item.user.phone}}"></span>
                        <span class="visible-xs"> <span class="text-muted">{{item.user.phone}}</span><br /></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="{{item.user.email}}"></span>
                        <span class="visible-xs"> <span class="text-muted">{{item.user.email}}</span><br /></span>
                        <!--disable based on permissions-->
                        <button ng-if="::isAuthorized(permissions.editContacts)" ng-click="contactsCtrl.openModal(item)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <span class="btn btn-default" ng-if="::!isAuthorized(permissions.editContacts)"
                              ng-class="::{'disabled' : !isAuthorized(permissions.editContacts)}">
                            <i class="fa fa-edit"></i> Edit
                        </span>
                        <!--disable based on permissions-->
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>