<!-- NAVIGATION -->
<nav class="navbar navbar-default" ng-controller="TopNavController as topNav">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Angular Meetup Site</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="home.contacts">Contacts</a>
                </li>
                <li ng-if="::isAuthorized(permissions.viewBlog)">
                    <a ui-sref="home.blog">Blog</a>
                </li>       
                <li ng-if="::!isAuthorized(permissions.viewBlog)">
                    <a class="disabled">Blog</a>
                </li>
            </ul>
            <!-- Single button -->
            <div class="btn-group pull-right" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    {{topNav.userName}} <span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem">
                        <h4>Permissions</h4>
                        <div ng-repeat="permission in topNav.permissions">
                            {{permission.name}}
                        </div>
                    </li>
                    <li role="menuitem">
                        <a ui-sref="signin">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

